.mainWrapper {
    height: 100%;
    background-color: var(--bg);

    .heroSection {
        position: relative;
        height: 100dvh;
    
        display: grid;
        color: var(--text);

        h1 {
            align-self: center;
            justify-self: center;
            font-weight: bold;
            font-size: 3.5rem;
            background: linear-gradient(to left, var(--red), brown);
            background-clip: text;
            color: transparent;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;

            z-index: 2;

            span {
                font-family: var(--ff-you);
                font-weight: bolder;
                animation: pulse 5s alternate infinite linear;
                position: relative;
                text-shadow: 1px 1px 2px var(--shadow-red), 0 0 1em var(--shadow-red), 0 0 0.2em var(--shadow-red);
            }
        }
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
        color: var(--red);
    }
    50% {
        opacity: 0;
        color: transparent;
    }
}

@media only screen and (max-width: 675px) {
    .mainWrapper {

        .heroSection {

            h1 {
                font-size: 2.5rem;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .mainWrapper {

        .heroSection {

            h1 {
                font-size: 2rem;
            }
        }
    }
}