.navigationWrapper {
    width: 65%;
    height: max-content;
    position: fixed;
    top: 2%;
    left: 50%;

    z-index: 2;

    transform: translate(-50% ,-2%);

    background: rgb(0 0 0 / .75);
    backdrop-filter: blur(5px);
    color: var(--nav-text);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    padding-block: .5rem;
    border-radius: 1rem;

    transition: transform .3s ease;

    &.visible {
        transform: translate(-50%, -2%);
    }

    &.hidden {
        transform: translate(-50%, -1000%);
    }

    h1 {
        font-family: var(--ff-you);
        letter-spacing: 5px;
        cursor: not-allowed;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        animation: glitch forwards 8s linear infinite;
    }

    nav {
        display: flex;
        gap: .5rem;

        a {
            padding: .5rem 1rem;
            color: inherit;
            text-decoration: none;
            border-radius: 1rem;

            transition: background .3s cubic-bezier(1,.19,.66,1.34);

            &:hover {
                background: var(--bg);
            }

            &.active {
                color: var(--text);
            }
        }

        .volumeButton {
            border: none;
            background: none;
            cursor: pointer;
            border-radius: 50%;
            padding: .6rem .7rem;
            transition: all .3s cubic-bezier(1,.19,.66,1.34);

            svg {
                color: var(--nav-text);
                width: 24px;
                height: 24px;
                vertical-align: middle;
                transition: all .3s cubic-bezier(1,.19,.66,1.34);
            }

            &:hover {
                background-color: var(--bg);
            }
        }
    }
}

@keyframes glitch {
    0%, 100% {
        color: var(--nav-text);
        text-shadow: none;
    } 50% {
        color: var(--red);
        text-shadow: 1px 1px 2px var(--shadow-red), 0 0 1em var(--shadow-red), 0 0 0.2em var(--shadow-red);
    }
}