@font-face {
  font-family: You;
  src: url('/fonts/YOU.ttf');
}

:root {
  --bg: #1a1a1a;
  --text: #fff;
  --nav-text: #a6adbb;
  --hover-bg: #384046;
  --red: #B92E34;
  --shadow-red: #BD2031;

  --title-linear-gradient: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(135,3,3,1) 0%, rgba(140,130,130,1) 100%);
  --reversed-title-linear-gradient: linear-gradient(-45deg, rgba(2,0,36,1) 0%, rgba(135,3,3,1) 0%, rgba(140,130,130,1) 100%);

  --ff-you: 'You', serif;
  --ff-poppins: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--ff-poppins);
}