.seasonsMain {
    background-color: var(--bg);
    color: var(--text);

    .hr {
        margin-inline: auto;
        width: 50%;
        background: var(--hover-bg);
    }

    .seasonTitle {
        width: 100%;
        height: 100%;

        h1 {
            padding-block: 10rem;
            text-align: center;
            font-size: 4rem;
            background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(135,3,3,1) 0%, rgba(140,130,130,1) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }

    .seasons {
        width: 65%;
        margin-inline: auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 2rem;
        padding-bottom: 10rem;
    }
    
}